<div class="container">
    <h3>{title}</h3>
    <p class="flow-text">{#body}{.}<br>{/body}</p>
    <div class="row">
        <div class="card col s12 m8" style="overflow: hidden; padding: 0;">
            <div id='gmap_canvas'></div>
        </div>
        <div class="col s12 m4">
            <ul class="card collection no-padding">
                <li class="collection-item row some-padding-left valign-wrapper">
                    <img class="responsive-img valign col s3" src={email.img}>
                    <p class="valign col s9 responsive-text">{email.text}</p>
                </li>
                {#socials}
                <li class="collection-item row some-padding-left">
                    <a class="valign-wrapper gold-link" href={link} target="_blank">
                        <img class="responsive-img valign col s3" src={img}>
                        <p class="valign col s9 responsive-text">{text}</p>
                    </a>
                </li>
                {/socials}
            </ul>
        </div>
    </div>
</div>