@import 'fontface';
@include fontFace('Raleway', '../fonts/Raleway-Regular', normal, normal);

$lightGray: #676a6c;
$particleRed: #e19494;
$white: #fff;

body {
    font-family: 'Raleway', sans-serif;
    background-color: $white;
    color: $lightGray;
}

section {
    margin: 0 0;
    padding: 0 0;
    position: relative;
}

nav {
    box-shadow: none;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

nav ul a,
nav a,
#logo-container {
    padding: 0 15px;
    background-color: $particleRed;
    color: $white;
}

nav ul li,
nav a,
#logo-container {
    &:hover {
        background-color: #e6e6e6;
        color: $lightGray;
    }
}

nav ul a:hover {
    background-color: transparent;
}

.particle-red {
    background-color: $particleRed;
    color: $white;
}

.particle-red-text {
    color: $particleRed;
}

.gray-text {
    color: $lightGray;
}

.some-padding {
    padding: 20px 0;
}

.flex-box {
    display: flex;
}

.flex {
    flex: 1;
}

.fill-height {
    height: 94%;
}

#particles-js {
    height: 100% !important;
    width: 100% !important;
    position: fixed !important;
    top: 0px !important;
    left: 0px !important;
    z-index: 0 !important;
}